<%- include("header") -%>

    <div class=links-container>
      <h2>Seebeck Family Wish List <i class="fas fa-gift"></i></h2>
      <div class="links-wrapper">
        <a href="/marilyn">
        <div class="card">
          <p class="card-p">
            Marilyn
            </p>
        </div>
        </a>
        <a href="/Jeff">
        <div class="card">
          <p class="card-p">
            Jeff
            </p>
        </div>
        </a>
        <a href="/brad">
        <div class="card">
          <p class="card-p">
            Brad
            </p>
        </div>
        </a>
        <a href="/jyssica">
        <div class="card">
          <p class="card-p">
            Jyssica
            </p>
        </div>
        </a>
        <a href="/allison-emily">
        <div class="card">
          <p class="card-p">
            Allison & Emily
            </p>
        </div>
        </a>
        <a href="/ben">
        <div class="card">
          <p class="card-p">
            Ben
            </p>
        </div>
        </a>
        <a href="/kelley">
        <div class="card">
          <p class="card-p">
            Kelley
            </p>
        </div>
        </a>
        <a href="/meredith">
        <div class="card">
          <p class="card-p">
            Meredith
            </p>
        </div>
        </a>
        <a href="/john">
        <div class="card">
          <p class="card-p">
            John
            </p>
        </div>
        </a>
      </div>
    </div>
